//VARIABLES

$darkgray: #363434
$gray: #5c5757
$offwhite: #efecec

$font-stack: 'Raleway', sans-serif
$font-size: 24px

//KEYFRAMES

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@keyframes header-drop-down
  from
    top: -70px
  to
    top: -10px


//MIXINS

=chevron($top-margin, $bottom-margin)
  display: block
  position: relative
  text-align: center
  padding: 12px
  height: 0px
  width: 200px
  margin: $top-margin auto $bottom-margin
=chevron-before($color, $direction)
  content: ''
  position: absolute
  top: 0
  left: 0
  height: 50%
  width: 50%
  background: $color
  transform: if($direction == 'down', skew(0deg, 20deg), skew(0deg, -20deg))
=chevron-after($color, $direction)
  content: ''
  position: absolute
  top: 0
  right: 0
  height: 50%
  width: 50%
  background: $color
  transform: if($direction == 'down', skew(0deg, -20deg), skew(0deg, 20deg))

=skill-percentage($width)
  height: 30px
  background-color: $darkgray
  float: left
  content: ""
  padding: 0
  width: $width


//STYLES

html
  font-family: $font-stack
  font-size: $font-size
  scroll-behavior: smooth

body
  background-color: $darkgray
  margin: 8px 0px

header
  display: flex
  justify-content: space-between
  position: fixed
  width: 100%
  z-index: 1

#home
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  color: $offwhite
  min-height: 512px
  h1
    font-size: 4rem
  h1, h2
    opacity: 0
    animation: fade-in 2s 1s ease-in forwards
    z-index: -1

header
  display: flex
  justify-content: space-between
  .header-content
    background-color: $gray
    color: $offwhite
    border-bottom: 2px solid $offwhite
    display: inline-block
    font-size: 1.4rem
    padding: 0 0.5rem
    position: relative
    top: -70px
    animation: header-drop-down 2s ease 3s forwards
  a
    color: $offwhite
    text-decoration: none
  #header-title
    border-right: 2px solid $offwhite
  #navigation
    padding: 0
    border-left: 2px solid $offwhite
    a
      display: inline-block
      padding: 0.2rem 0.6rem
      transition: 1s
      &:hover
        background-color: $darkgray
        transition: 1s

#about
  padding: 1rem 10rem
  background-color: $offwhite
  height: 100vh
  .flex-container
    display: flex
    p
      font-size: 1.4rem
      font-family: $font-stack
      text-align: right
      display: inline-block
      width: 20rem
      margin: auto
    img
      border-radius: 10%
      margin: 1.7rem auto
      display: inline-block
      height: 20rem
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)
      transition: 0.5s
      &:hover
        border-radius: 50%
        -webkit-filter: none
        filter: none
        transition: 0.5s
  h1
    text-align: center
    font-size: 3rem
    margin: 20px auto 30px
<<<<<<< HEAD
table
  background-color: $offwhite
  margin: 0 auto
  width: 75%
  border-spacing: 0.1rem 0.6rem
  th
    width: 25%
    background-color: $gray
    color: $offwhite
    border: 1px solid black
    margin-bottom: 2rem
  td
    text-align: right
    background-color: darken($offwhite, 10%)
    padding-right: 10px
    font-size: 0.8rem
    border: 1px solid black
    margin-bottom: 2rem
  #html-percent::before
    +skill-percentage(90%)
  #css-percent::before
    +skill-percentage(70%)
  #js-percent::before
    +skill-percentage(60%)
  #py-percent::before
    +skill-percentage(70%)
  #sql-percent::before
    +skill-percentage(80%)
  #bash-percent::before
    +skill-percentage(30%)
  #git-percent::before
    +skill-percentage(60%)
=======

>>>>>>> small-changes

#projects
  width: 100%
  background-color: $darkgray
  text-align: center
  h1
    font-size: 3rem
    color: $offwhite
.project-sample
  width: min-content
  margin: 0 auto 32px
  background-size: cover
  border: 2px solid black
  position: relative
  img
    display: block
    width: 1000px
    height: auto  
  .overlay
    background-color: $gray
    opacity: 0
    width: 100%
    height: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center
    -webkit-transition: opacity 1s
    transition: opacity 1s
  &:hover .overlay
    opacity: 1
    -webkit-transition: opacity 1s
    transition: opacity 1s
  h2, p, a
    color: $offwhite
    font-size: 1.5rem
    text-align: center   
  a
    background-color: $gray
    text-decoration: none
    border: 2px solid $offwhite
    padding: 0.2rem
    transition: background-color 1s
    &:hover
      background-color: $darkgray
      transition: background-color 1s

#contact
  padding: 1rem 10rem
  text-align: center
  background-color: $offwhite
  h1
    font-size: 3rem
    margin-top: 1rem
ul
  list-style-type: none
  width: 50%
  margin: 0 auto
ul li 
  text-align: left
  margin-bottom: 1rem
  .link-img
    transition: 0.25s
    &:hover
      box-shadow: 5px 5px 10px
      transition: 0.25s
  img
    padding: 0.3rem
    border-radius: 10%
    border: 3px solid $darkgray
    vertical-align: middle
  span
    margin-left: 1rem
  a
    text-decoration: none
    color: black
    span
      text-decoration: underline
      &:hover
        font-weight: bold


footer
  p
    text-align: center
    color: $offwhite
    margin-top: 1.5rem
  img
    width: 32px
  div:nth-last-child(1)
    font-size: 0.5rem
    color: $offwhite
    text-align: center
    margin-bottom: 1rem
    a
      color: $offwhite


//CHEVRONS

.chevron
  opacity: 0
  animation: fade-in 1.5s 2s ease-in forwards
  bottom: -20vh
  +chevron(0, 100px)
  &:before
    +chevron-before($offwhite, 'down')
  &:after
    +chevron-after($offwhite, 'down')
.chevron-2
  +chevron(100px, 30px)
  &:before
    +chevron-before($gray, 'down')
  &:after
    +chevron-after($gray, 'down')
.chevron-3
  +chevron(150px, 50px)
  &:before
    +chevron-before($offwhite, 'down')
  &:after
    +chevron-after($offwhite, 'down')
.chevron-4
  +chevron(100px, 50px)
  &:before
    +chevron-before($gray, 'up')
  &:after
    +chevron-after($gray, 'up')
