//VARIABLES
$darkgray: #363434
$gray: #5c5757
$offwhite: #efecec

$font-stack: 'Raleway', sans-serif
$font-size: 24px




//MIXINS
=chevron($location)
  display: block
  position: relative
  text-align: center
  padding: 12px
  margin-bottom: 6px
  height: 0px
  width: 200px
  margin: 0 auto
  bottom: $location
=chevron-before($color)
  content: ''
  position: absolute
  top: 0
  left: 0
  height: 50%
  width: 50%
  background: $color
  transform: skew(0deg, 20deg)
=chevron-after($color)
  content: ''
  position: absolute
  top: 0
  right: 0
  height: 50%
  width: 50%
  background: $color
  transform: skew(0deg, -20deg)
=skill-percentage($width)
  height: 30px
  background-color: $darkgray
  float: left
  content: ""
  padding: 0
  width: $width


//STYLES

html
  font-family: $font-stack
  font-size: $font-size

body
  background-color: $darkgray
  margin: 8px 0px

header
  display: flex
  justify-content: space-between
  position: fixed
  width: 100%

#home
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  color: $offwhite
  h1
    font-size: 3rem

header
  display: flex
  justify-content: space-between
  .header-content
    background-color: $gray
    color: $offwhite
    border-bottom: 2px solid $offwhite
    display: inline-block
    padding: 0 0.5rem
    position: relative
    top: -8px
  a
    color: $offwhite
    text-decoration: none
  #header-title
    font-size: 1.4rem
    border-right: 2px solid $offwhite
  #navigation
    width: 446px
    padding: 0
    border-left: 2px solid $offwhite
    a
      display: inline-block
      padding: 0.2rem 0.6rem
      transition: 1s
      &:hover
        background-color: $darkgray
        transition: 1s

#about
  padding: 1rem 10rem
  height: 105vh
  background-color: $offwhite
  img
    margin: 0 auto
    display: block
    border-radius: 50%
    margin-bottom: 1.7rem
    height: 10rem
  p
    text-align: center
  h1
    text-align: center
    font-size: 3rem
    margin: 20px auto 30px
  table
    background-color: $offwhite
    margin: 0 auto
    width: 75%
    border-spacing: 0.1rem 0.6rem
    th
      width: 25%
      background-color: $gray
      color: $offwhite
      border: 1px solid black
      margin-bottom: 2rem
    td
      text-align: right
      background-color: darken($offwhite, 10%)
      padding-right: 10px
      font-size: 0.8rem
      border: 1px solid black
      margin-bottom: 2rem
    #html-percent::before
      +skill-percentage(70%)
    #css-percent::before
      +skill-percentage(50%)
    #java-percent::before
      +skill-percentage(10%)
    #bash-percent::before
      +skill-percentage(30%)
    #git-percent::before
      +skill-percentage(30%)

#projects
  height: 160vh
  width: 100%
  background-color: $darkgray
  h1
    font-size: 3rem
    color: $offwhite
    text-align: center
.project-sample
  width: 75%
  height: 500px
  margin: 0 auto
  background-size: cover
  display: flex
  justify-content: space-between
  border: 2px solid black
  & + &
    margin-top: 2rem
    margin-bottom: -2rem
  h2
    background-color: $gray
    color: $offwhite
    font-size: 1.5rem
    padding: 0.1rem 0.5rem
    border-bottom: 2px solid black
    border-right: 2px solid black
    height: 2rem
    margin: 0
  a
    align-self: flex-end
    background-color: $gray
    text-decoration: none
    color: $offwhite
    margin: 0 1rem 1rem 0
    font-size: 1.5rem
    padding: 0.1rem 0.5rem
    border: 2px solid black
    transition: 1s
    &:hover
      background-color: $darkgray
      transition: 1s




  /*CHEVRONS*/
chevron
  opacity: 0
  animation: fade-in 1.5s 2s ease-in forwards
  +chevron(-20vh)
chevron::before
  +chevron-before($offwhite)
chevron::after
  +chevron-after($offwhite)
chevron-2
  +chevron(-10vh)
chevron-2::before
  +chevron-before($gray)
chevron-2::after
  +chevron-after($gray)
chevron-3
  +chevron(-12vh)
chevron-3::before
  +chevron-before($gray)
chevron-3::after
  +chevron-after($gray)
