@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes header-drop-down {
  from {
    top: -50px;
  }
  to {
    top: -10px;
  }
}
html {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

body {
  background-color: #363434;
  margin: 8px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #efecec;
}
#home h1 {
  font-size: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
}
header .header-content {
  background-color: #5c5757;
  color: #efecec;
  border-bottom: 2px solid #efecec;
  display: inline-block;
  padding: 0 0.5rem;
  position: relative;
  top: -50px;
  animation: header-drop-down 2s ease 3s forwards;
}
header a {
  color: #efecec;
  text-decoration: none;
}
header #header-title {
  font-size: 1.4rem;
  border-right: 2px solid #efecec;
}
header #navigation {
  width: 446px;
  padding: 0;
  border-left: 2px solid #efecec;
}
header #navigation a {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  transition: 1s;
}
header #navigation a:hover {
  background-color: #363434;
  transition: 1s;
}

#about {
  padding: 1rem 10rem;
  height: 105vh;
  background-color: #efecec;
}
#about img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 1.7rem;
  height: 10rem;
}
#about p {
  text-align: center;
}
#about h1 {
  text-align: center;
  font-size: 3rem;
  margin: 20px auto 30px;
}

table {
  background-color: #efecec;
  margin: 0 auto;
  width: 75%;
  border-spacing: 0.1rem 0.6rem;
}
table th {
  width: 25%;
  background-color: #5c5757;
  color: #efecec;
  border: 1px solid black;
  margin-bottom: 2rem;
}
table td {
  text-align: right;
  background-color: #d8d0d0;
  padding-right: 10px;
  font-size: 0.8rem;
  border: 1px solid black;
  margin-bottom: 2rem;
}
table #html-percent::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
  width: 90%;
}
table #css-percent::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
  width: 70%;
}
table #js-percent::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
  width: 50%;
}
table #py-percent::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
  width: 60%;
}
table #sql-percent::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
  width: 80%;
}
table #bash-percent::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
  width: 30%;
}
table #git-percent::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
  width: 50%;
}

#projects {
  height: 160vh;
  width: 100%;
  background-color: #363434;
  text-align: center;
}
#projects h1 {
  font-size: 3rem;
  color: #efecec;
}

.project-sample {
  width: 75%;
  height: 500px;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
.project-sample + .project-sample {
  margin-top: 2rem;
  margin-bottom: -2rem;
}
.project-sample h2 {
  background-color: #5c5757;
  color: #efecec;
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  height: 2rem;
  margin: 0;
}
.project-sample a {
  align-self: flex-end;
  background-color: #5c5757;
  text-decoration: none;
  color: #efecec;
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  border: 2px solid black;
  transition: 1s;
}
.project-sample a:hover {
  background-color: #363434;
  transition: 1s;
}

#contact {
  height: 88vh;
  padding: 1rem 10rem;
  text-align: center;
  background-color: #efecec;
}
#contact h1 {
  font-size: 3rem;
  margin-top: 1rem;
}

form {
  margin: 2rem auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 13rem;
  background-color: #5c5757;
  padding: 1rem 2rem 0.3rem;
  border-radius: 10px;
}

input {
  margin: 0.5rem 0 0;
  background-color: #efecec;
  padding: 0.2rem 0 0.2rem 0.7rem;
  font-size: 0.7rem;
  height: 1.3rem;
}
input [type=submit] {
  width: 40%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  height: auto;
}

textarea {
  margin: 0.5rem 0 0;
  background-color: #efecec;
  padding: 0.2rem 0 0.2rem 0.7rem;
  font-size: 0.7rem;
  height: 6rem;
  padding-top: 0.5rem;
}

#anchor-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 0 auto;
  padding-top: 1rem;
}
#anchor-container a {
  background-color: #efecec;
  padding: 0.3rem;
  border-radius: 10px;
  height: 58px;
}

footer p {
  text-align: center;
  color: #efecec;
  font-size: 0.5rem;
  margin-top: 1.5rem;
}
footer img {
  width: 58px;
}
footer div:nth-last-child(1) {
  font-size: 0.3rem;
  color: #efecec;
  text-align: center;
  margin-bottom: 1rem;
}
footer div:nth-last-child(1) a {
  color: #efecec;
}

.chevron {
  opacity: 0;
  animation: fade-in 1.5s 2s ease-in forwards;
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 0px;
  width: 200px;
  margin: 0 auto;
  bottom: -20vh;
}
.chevron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background: #efecec;
  transform: skew(0deg, 20deg);
}
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: #efecec;
  transform: skew(0deg, -20deg);
}

.chevron-2 {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 0px;
  width: 200px;
  margin: 0 auto;
  bottom: -10vh;
}
.chevron-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, 20deg);
}
.chevron-2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, -20deg);
}

.chevron-3 {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 0px;
  width: 200px;
  margin: 0 auto;
  bottom: -12vh;
}
.chevron-3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, 20deg);
}
.chevron-3:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, -20deg);
}

/*# sourceMappingURL=app.css.map */
