/*--------------------------------GENERAL-------------------------------------*/
html {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #363434;
  margin: 8px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

/*----------------------------------------CHEVRONS----------------------------*/
.chevron {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 0px;
  width: 200px;
  margin: 0 auto;
  bottom: -20vh;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background: #efecec;
  transform: skew(0deg, 20deg);
}

.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: #efecec;
  transform: skew(0deg, -20deg);
}

.chevron-2 {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 0px;
  width: 200px;
  margin: 0 auto;
  bottom: -10vh;
}

.chevron-2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, 20deg);
}

.chevron-2:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, -20deg);
}

.chevron-3 {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 0px;
  width: 200px;
  margin: 0 auto;
  bottom: -12vh;
}

.chevron-3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, -20deg);
}

.chevron-3:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  background: #5c5757;
  transform: skew(0deg, 20deg);
}

/*---------------------------------------HEADER-------------------------------*/
header a {
  text-decoration: none;
  color: #efecec;
}

.header-content {
  background-color: #5c5757;
  color: #efecec;
  border-bottom: 2px solid #efecec;
  display: inline-block;
  padding: 0 0.5rem;
  position: relative;
  top: -10px;
}

#header-title {
  left: -10px;
  font-size: 1.4rem;
}

#header-title::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 39px solid #5c5757;
  border-right: 39px solid transparent;
  position: absolute;
  right: -38px;
  z-index: 1;
}

#header-title::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 41px solid #efecec;
  border-right: 41px solid transparent;
  position: absolute;
  right: -41px;
}

#navigation {
  width: 446px;
  padding: 0;
}

#navigation::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 39px solid #5c5757;
  border-left: 39px solid transparent;
  position: absolute;
  left: -38px;
  z-index: 1;
}

#navigation::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid #efecec;
  border-left: 40px solid transparent;
  position: absolute;
  left: -40px;
  top: 2px;
}

#navigation a {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  transition: 1s;
}

#navigation a:hover {
  background-color: #363434;
  transition: 1s;
}

/*------------------------------------HOMEPAGE--------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  color: #efecec;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  font-size: 3rem;
  position: relative;
  z-index: -1;
}

/*---------------------------------------ABOUT--------------------------------*/
#about {
  padding: 1rem 10rem;
  height: 105vh;
  background-color: #efecec;
}

#about p, h1 {
  text-align: center;
}

#about img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  margin-bottom: 1.7rem;
  height: 10rem;
}

#about h1 {
  font-size: 3rem;
  margin: 20px auto 30px;
}

table {
  background-color: #efecec;
  margin: 0 auto;
  width: 75%;
  border-spacing: 0.1rem 0.6rem;
}

td, th {
  border: 1px solid black;
  margin-bottom: 2rem;
}

th {
  width: 25%;
  background-color: #5c5757;
  color: #efecec;
}

td {
  text-align: right;
  background-color: #e1e0e0;
  padding-right: 10px;
  font-size: 0.8rem;
}

td::before {
  height: 30px;
  background-color: #363434;
  float: left;
  content: "";
  padding: 0;
}

td#html-percent::before {
  width: 70%;
}

td#css-percent::before {
  width: 50%;
}

td#java-percent::before {
  width: 10%;
}

td#bash-percent::before {
  width: 30%;
}

td#git-percent::before {
  width: 30%;
}

/*---------------------------------------PROJECTS-----------------------------*/
#projects {
  height: 160vh;
  width: 100%;
  background-color: #363434;
}

#projects h1 {
  font-size: 3rem;
  color: #efecec;
}

.project-sample {
  width: 75%;
  height: 500px;
  margin: 0 auto;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.project-sample:nth-of-type(1) {
  background-image: url(images/nanas-closet.png);
}

.project-sample:nth-of-type(2) {
  background-image: url(images/fisher-paints.png);
}

.project-sample+.project-sample {
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.project-sample h2 {
  background-color: #5c5757;
  color: #efecec;
  font-size: 1.5rem;
  padding: 0.1rem 0 0.1rem 0.5rem;
  border-bottom: 2px solid black;
  height: 2rem;
  margin: 0;
}

#nanas-closet-project h2::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 53px solid #5c5757;
  border-right: 53px solid transparent;
  position: relative;
  top: 50.5px;
  right: -334px;
  z-index: 1;
}

#nanas-closet-project h2::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 55px solid black;
  border-right: 55px solid transparent;
  position: relative;
  top: 52.5px;
  right: -55px;
}

#fisher-paints-project h2::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 53px solid #5c5757;
  border-right: 53px solid transparent;
  position: relative;
  top: 50.5px;
  right: -495px;
  z-index: 1;
}

#fisher-paints-project h2::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 55px solid black;
  border-right: 55px solid transparent;
  position: relative;
  top: 52.5px;
  right: -55px;
}

.project-sample a {
  align-self: flex-end;
  background-color: #5c5757;
  text-decoration: none;
  color: #efecec;
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  border: 2px solid black;
  transition: 1s;
}

.project-sample a:hover {
  background-color: #363434;
  transition: 1s;
}

/*---------------------------------------CONTACT------------------------------*/
#contact {
  height: 88vh;
  padding: 1rem 10rem;
  text-align: center;
  background-color: #efecec;
}

#contact h1 {
  font-size: 3rem;
  margin-top: 1rem;
}

form {
  margin: 2rem auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 13rem;
  background-color: #5c5757;
  padding: 1rem 2rem 0.3rem;
  border-radius: 10px;
}

input, textarea {
  margin: 0.5rem 0 0;
  background-color: #efecec;
  padding: 0.2rem 0 0.2rem 0.7rem;
  font-size: 0.7rem;
}

input {
  height: 1.3rem;
}

textarea {
  height: 6rem;
  padding-top: 0.5rem;
}

input[type="submit"] {
  width: 40%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  height: auto;
}

/*---------------------------------------FOOTER-------------------------------*/
#anchor-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 0 auto;
  padding-top: 1rem;
}

footer img {
  width: 58px;
}

#anchor-container a {
  background-color: #efecec;
  padding: 0.3rem;
  border-radius: 10px;
  height: 58px;
}

footer p {
  text-align: center;
  color: #efecec;
  font-size: 0.5rem;
  margin-top: 1.5rem;
}

footer div:nth-last-child(1) {
  font-size: 0.3rem;
  color: #efecec;
  text-align: center;
  margin-bottom: 1rem;
}

footer div:nth-last-child(1) a {
  color: #efecec;
}
